*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #0dc0de;
}

ul{
    display: flex;
    gap: 1rem;
}

li{
    list-style: none;
    margin: 2px;
}

.header{
    background: #113b49;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    text-align: center;
}

.logo{
    color: #e9455d;
}

.links{
    display: flex;
    gap: 1rem;
}

.imgCarrito{
    margin: 2px;
}

@media (max-width: 700px){
    ul{
        display: none;          /*Borrar*/
    }
}